* {
    box-sizing:border-box;
    margin: 0;
}

header {
    margin-bottom: 100px;
}

html {
    color: #000000;
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

body {
    background-image: url("../images/FamilyPic.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.p-quote {
    background-color: rgba(166, 167, 160, 0.60);
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

.awardsquote {
    background-color: rgba(166, 167, 160, 0.60);
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    font-weight: 700;    
}


.main-nav {
    color: #000000;
    text-decoration-color: #ebff00;
    font-size: 100%;
}

